/TECH/Pods
TECH/STA.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
/TECH/STA.xcworkspace/xcuserdata/admin.xcuserdatad
/TECH/STA.xcworkspace/xcuserdata
TECH/STA.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
